* {
  background-color:#0b0c10
}



.player{
  margin:auto;
  margin-top:100px;
  width:400px;
}

.player__input{
  display:flex;
  align-items:center;
  margin:auto;
  margin-bottom:20px;
}

.src__input{
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
  color:white;
  width:400px;
}


#play {
  width:100px;
  height:100px;
  color:white;
  height:15px;
  width:15px;
  background-color:green;
  margin-left:10px;
  border-radius: 100%;
}



#oscilloscope{
  background:transparent;
  margin:auto;
  margin-left:-100px;
}


.statusbar {
  background-color:#45a29e;
  width:400px;
  height:10px;
  margin:0;
}

.statusbar__filler {
  width:0%;
  height:100%;
  background-color:#66fcf1;
}



